<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TeamTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 커넥션 풀 -->
  <resource-ref>
		<description>ConnectionPool</description>
		<res-ref-name>jdbc/mysqldb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref> 
  <!-- 커넥션 풀 -->
  
  
  <!-- Area  -->
  <servlet>
  	<servlet-name>Area</servlet-name>
  	<servlet-class>example.Area</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Area</servlet-name>
  	<url-pattern>/areaTest</url-pattern>
  </servlet-mapping>
  <!-- Area  -->
  
  <!--ExSpot -->
  <servlet>
  	<servlet-name>Spot</servlet-name>
  	<servlet-class>example.ExSpot</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Spot</servlet-name>
  	<url-pattern>/spotTest</url-pattern>
  </servlet-mapping>
  <!--ExSpot -->
  
  <!-- webServlet -->
  <servlet>
  	<servlet-name>ActionFrontController</servlet-name>
  	<servlet-class>example.action.ActionFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ActionFrontController</servlet-name>
  	<url-pattern>*.tr</url-pattern>
  </servlet-mapping>
  <!-- webServlet -->
  
  
  
</web-app>